* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    line-height: 1.3;
    font-size: 17px;
    color: rgb(32, 32, 32);
    font-weight: 400;
    font-family: lato;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #cdcdb8;
}
.header {
    position: fixed;
    width: 60%;
    right: 0;
    top: 0;
    z-index: 50;
    background: #752326d3;
}

.header__menu {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    padding: 0px 28px 0px 28px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px 15px 0px;
    align-items: center;
    justify-content: center;
}
.menu__item {
    list-style: none;
    padding: 0px 10px 0px 10px;
}
.menu__link {
    text-decoration: none;
    color: #cdcdb8;
    font-size: 22px;

}



.personname__light.light {
    top: 115px;
    position: absolute;
    right: 60%;
    text-shadow: 1px 1px 2px #7054557d;
    font-size: 44px;
    z-index: 50;
    letter-spacing: 4px;
    color: #cdcdb8;

}
.personname__dark.dark {
    top: 115px;
    position: absolute;
    left: 40%;
    text-shadow: 1px 1px 2px #afacac86;
    font-size: 44px;
    letter-spacing: 4px;
    z-index: 50;
    letter-spacing: 4px;
    color: #202020;
}
.personname__block {
    display: none;
}
.content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 100%;
}
.content__block {
    display: flex;
    height: 100%;
    width: 100%;
}
.content__column1 {
    flex: 1 0 40%;
    background: #202020;
    /* padding: 0px 40px 0px 40px; */
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}
.content__me {
    flex: 1 1 auto;
    padding-left: 20px;
}
.me__photo {
    margin: 230px -40px 0px 40px;
    position: relative;
    padding-bottom: 130%;
}
.me__photo img {
    width: 80%;
}
.me__info {
    padding: 80px 0px 0px 0px;
    letter-spacing: 1px;
}
.title {
    margin: 60px 0px 40px 0px;
    color: #752326;
    -webkit-text-fill-color: rgb(117, 35, 38);
    letter-spacing: 15px;
    text-shadow: 1px 1px 2px #967879;
    font-size: 30px;
    position: relative;
}
.subtitle {
    color: #cdcdb8;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 70px;
}
.me__info p {
    padding: 10px 0px 50px 0px;
    z-index: 70;
    color:  #cdcdb8;
    font-size: 22px;
}

.contact {
    padding: 0px 0px 130px 10px;
    position: relative;
}
.contact__block {
    transition: 0.5s;
    padding: 6px;
    
}
.contact__block:hover {
    transform: scale(1.01);
}
.contact__link {
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: 3px;
    color: #cdcdb8;
}
.contact__link img {
    width: 50px;
    padding: 0px 20px 0px 0px;
    justify-content: center;
    align-items: center;
}
.contact__link a {
    text-decoration: none;
    color: #cdcdb8;

}





.content__column2 {
    margin-top: 100px;
    flex: 1 0 60%;
    padding: 0px 40px 0px 60px;
    position: relative;
}
.content__box {
    display: flex;
    padding-top: 20px;
}
.content__column3 {
    flex: 1 1 60%;
    padding: 0px 30px 0px 0px;
    
}


.education__info div {
   margin: 50px 0;
}
.education__title {
    margin: 60px 0px 40px 0px;
    color: #752326;
    -webkit-text-fill-color: rgb(117, 35, 38);
    letter-spacing: 15px;
    text-shadow: 1px 1px 2px #967879;
    font-size: 30px;
    position: relative;
}
.education__medium-title {
    color: #752326;
    

}

.education__bolt-title {
    list-style: none;
    font-weight: 700;
}
.education__dark  {
    list-style: none;
}

.education__dark a {
    text-decoration: none;
    font-weight: 500;
    color: #202020;
}
.education__dark a:hover {
    color: blue;
}

.content__column4 {
    flex: 1 1 40%;
}



.skills__title {
    margin: 60px 0px 40px 0px;
    color: #752326;
    -webkit-text-fill-color: rgb(117, 35, 38);
    letter-spacing: 15px;
    text-shadow: 1px 1px 2px #967879;
    font-size: 30px;
    position: relative;
}
.skills__name ul {
    margin: 0;
    padding: 0;
}
.skills ul li {
    padding: 6px 0 6px 30px;
    background-image: url(./images/Circle_Brown_Solid.svg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 23px;
    list-style: none;
    font-size: 22px;
}


.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 50;
}
.footer__box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__row {
    display: flex;
    background: #752326;
    padding: 20px 90px 20px 90px;
    color: #cdcdb8;
}
.footer__language {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 35px 0px 35px;
}
.footer__name {
    padding: 10px 5px 5px 5px;
    font-size: 22px;
}
.footer__point {
    padding: 10px 5px 5px 5px;
    font-size: 22px;

}
@media screen and (max-width: 943px) {
.header {
    width: 100%;
}
.header__menu {
    justify-content: center;
}
.menu__list {
    font-size: 18px;
}
}
@media screen and (max-width: 850px) {
    .content__block {
        flex-direction: column;
    }
    .me__photo {
        margin: 230px -40px 0px 40px;
        position: relative;
        padding-bottom: 0;
    }
    .me__info {
        text-align: center;
        padding: 0 10px;
    }
    .contact__block {
        margin-left: 30px;
    }
    .content__box {
        flex-direction: column;
    }
    .skills__name ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skills__name li {
        margin: 8px;
    }
    .experience {
        margin-bottom: 150px;
    }
    .personname__dark.dark {
     display: none;        
 
    }
    .personname__light.light {
        display: none;        
     }
    .personname__block {
        top: 115px;
        left: 10%;
        text-align: center;
        position: absolute;
        text-shadow: 1px 1px 2px #7054557d;
        font-size: 44px;
        z-index: 50;
        letter-spacing: 4px;
        color: #cdcdb8;
        display: block;
    }
   
}
@media screen and (max-width: 850px) {
    .footer__row {
        flex-direction: column;
    }
    .personname__block {
        font-size: 40px;
    }
}